@font-face {
  font-family:'KoHo';
  src: url('./media/fonts/KoHo-Regular.ttf');
}
.App {
  text-align: center;
  font-family: KoHo;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
}

nav {
  background-color:#282c34;
  display: flex;
  justify-content: space-between;
  align-items: end;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('./media/photos/kelowna.jpg');
  background-blend-mode:color-dodge;
}

button {
  border: none;
  background: none;
  font-size: larger;
}

button:hover {
  color: rgb(13, 13, 133);
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  font-size: 200%;
  align-items: end;
}
.logo {
  width: 14%;
}

